<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=blog.title%> blog</title>
    <link rel="stylesheet" href="/blogs.css" />
  </head>
  <body>
    <div class="show-blog">
      <h1><%=blog.title%></h1>
      <p><%= blog.content%></p>
      <h4>- @<%=blog.author%></h4>
      <h6>
        <!-- <%=blog.created_at.toString().split(" ")[4]%> &nbsp; -->
        <%=blog.created_at.toString().split(" ").slice(0,4).join("-")%>
      </h6>
    </div>
  </body>
</html>
